@()(implicit flash: play.api.mvc.Flash)

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      @Html(
        Records.devs.mkString("['Devs','", "','", "']")
      ),
      @Html(
        (for(dev <- Records.devs) yield Records.pairCount(dev)).mkString(",")
      )
    ]);

    var options = {      
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

@main("Pair Monitor") {
  <div id="chart_div" style="width: 1200px; height: 600px;"></div>
}
