@()(implicit flash: play.api.mvc.Flash)

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      @Html(
        Records.devs.mkString("['Devs','", "','", "']")
      ),
      @Html(
        (for(dev <- Records.devs) yield Records.pairCount(dev)).mkString(",")
      )
    ]);

    var options = {      
      chartArea : { left: 30, top:40 }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

@main("Pair Monitor") {
  <table class="table">
    <thead><tr>
      @defining(Records.topPairs(3)) { topPairs =>
        @for(r <- topPairs.take(1)) {        
          @defining(r._1) { pair =>
            <th class="danger" style="border: 2px solid black;"><h3 class="text-center">@pair._1/@pair._2 : @r._2</h2></th>
          }
        }
        @for(r <- topPairs.takeRight(2)) {        
          @defining(r._1) { pair =>
            <th class="warning" style="border: 2px solid black;"><h3 class="text-center">@pair._1/@pair._2 : @r._2</h2></th>
          }
        }
      }
    </tr></thead>
  </table>
  <div>
    <div id="chart_div" style="width: 1200px; height: 600px;"></div>      
  </div>  
}
