@(records: List[Record])

@main("Pairing database") {
  <h2>Insert Pair Details :</h2>

  <form action="/insert" method="POST">
    <input name="date" type="text" placeholder="Date"/>
    <input name="dev1" type="text" placeholder="Dev1"/>
    <input name="dev2" type="text" placeholder="Dev2"/>
    <input name="task" type="text" placeholder="Task"/>
    <input type="submit"/>
  </form>

  <h2>Previously inserted records : </h2>
  <table border="1">
    <tr>
      <th>Date</th>
      <th>Dev 1</th>
      <th>Dev 2</th>
      <th>Task</th>
    </tr>
    @for(r <- records){ 
      <tr>
        <td>@r.date</td>
        <td>@r.dev1</td>
        <td>@r.dev2</td>
        <td>@r.task</td>
      </tr>
    }
  <tabe/>    
}
