@()(implicit flash: play.api.mvc.Flash)

@main("Pair Monitor") {
  @flash.get("alert-success").map { message =>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      @message
    </div>  
  }
  @flash.get("alert-error").map { message =>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      @message
    </div>  
  }
  <form role="form" action="/records/new" method="POST">
    <fieldset>
      <legend>Insert Pair Details</legend>  
      <div class="form-group">
        <label for="inputDate">Date : </label>
        <input class="form-control" name="date" id="inputDate" type="text" placeholder="Date" required/>
      </div>      
      
      <div class="form-group">
        <label for="inputDev1">Dev 1 : </label>        
        <select class="form-control" name="dev1" id="inputDev1" required>
          <option value="" disabled selected>Select Dev 1</option>
          @for(dev <- Records.devs) {
            <option>@dev</option>
          }
        </select>        
      </div>
      
      <div class="form-group">
        <label for="inputDev2">Dev 2 : </label>        
        <select class="form-control" name="dev2" id="inputDev2">
          <option value="" disabled selected>Select Dev 2</option>
          @for(dev <- Records.devs) {
            <option>@dev</option>
          }
        </select>        
      </div>

      <div class="form-group">
        <label for="inputTask">Task : </label>        
        <textarea class="form-control" id="inputTask" name="task" rows="3"></textarea>        
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>    
    </fieldset>      
  </form>
}
