@(records: List[Record], devs: List[String])(implicit flash: play.api.mvc.Flash)

@main("Pair Monitor") {
    <div class="row clearfix">
        <div class="col-xs-12 column">
            <form class="form-inline" role="form" action="/records/new" method="POST">
                <div class="form-group">
                    <label>
                        <select name="dev1" id="inputDev1" required class="form-control">
                            <option value="" disabled selected>Select Dev 1</option>
                            @for(dev <- devs) {
                                <option>@dev</option>
                            }
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <select name="dev2" id="inputDev2" class="form-control">
                            <option value="" disabled selected>Select Dev 2</option>
                            @for(dev <- devs) {
                                <option>@dev</option>
                            }
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label><input class="form-control" name="date" id="inputDate" type="text" placeholder="Date" required></label>
                </div>
                <div class="form-group">
                    <label><input type="text" class="form-control" id="inputTask" name="task" rows="3" placeholder="task"></label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>

<div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-striped table-bordered">
        <tr>
          <th>Date</th>
          <th>Dev 1</th>
          <th>Dev 2</th>
          <th>Task</th>
          <th>Delete</th>
        </tr>
        @for(r <- records){
          <tr>
            <td>@r.date.format("EEE, dd-MMM-yyyy")</td>
            <td>@r.dev1</td>
            <td>@r.dev2</td>
            <td>@r.task</td>
            <td><a class="btn" href="/records/@r.id/delete"><i class="glyphicon glyphicon-remove"></i></a></td>
          </tr>
        }
      </table>
    </div>
</div>

}
